body{    
    overflow: hidden;
    padding: 0%;
    border: none;
    margin: 0;
}
.wrapper{
    position: relative;
    background-image: linear-gradient(#000000, #1f1d1d);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: none;
    border: 0;
}
.head{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    text-align:center;
    margin:auto;
    color:#f3f3f3;
    padding-top:10px;
    padding-bottom:10px;
}
h1{
    text-decoration: underline;    
    font-size: 5em;
    font-weight:550;
    padding: 0;
    margin: 0;
    border: 0;
}
.info{
    padding: 1em;
    color: white;
}
@media screen and (max-width: 900px)
{
    h1{
        text-decoration: underline;    
        font-size: 2.5em;
        font-weight:550;
        padding: 0;
        border: 0;
    }   
}
h4{    
    padding: 0;
    margin: 0;
    border: 0;
}
.inputform{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    margin:auto;
    color:#f3f3f3;
    padding:2em;
    width: max-content;
    border-radius: 10px;
}
@media screen and (max-width: 900px)
{
    .inputform{
        background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        margin:auto;
        color:#f3f3f3;
        padding: 0.5em;
        width: unset;
        border-radius: 0px;
    }
    .url{
        width: 250px;
    }
}
.videoTitle{
    color: #f3f3f3;
}
@media screen and (max-width: 900px)
{
    .videoTitle{
        color: #f3f3f3;
        font-size: 1em;
    }
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
h3{
    text-align: center;
}
.audiocontrol{
    width: 50vw;
}
@media screen and (max-width: 900px)
{
    .audiocontrol{
        width: 100%;
    }
}
